<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="contents">

                <div id="content01" class="contents">

                    <div id="content01_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">About " Tabimeshi "</p>

                            <p class="copy">

                            <%= t 'homes.top.message_1' %><br><br>
                            <%= t 'homes.top.message_1_2' %>
                            </p>

                        </div>

                    </div>

                </div><!-- content01 -->

                <div id="content02" class="contents">

                    <div id="content02_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">What you can do with<br> " Tabimeshi "</p>

                            <p class="copy">
                                <%= t 'homes.top.message_2' %><br>
                            </p>

                        </div>

                    </div>

                </div><!-- content02 -->

                <div id="content03" class="contents">

                    <div id="content03_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">How to use " Tabimeshi "</p>

                            <p class="copy"></p>

                        </div>

                    </div>

                </div><!-- content03 -->

            </section>
        </div>
    </div>
</div>
