
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="main-visual">
				<div class="main-visual-content">
					<strong><h2><br><br>     Find delicacies and Create memorys!</h2></strong>
				</div>
			</div>

			 <div class="col">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="btn-circle-flat"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">About</a>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<div class="about">

									<strong>海外旅行先で絶対に美味しいものを食べたい！</strong><br>
									<strong>ガイドブックに載っている場所だけではなくローカルな体験をしたい！</strong><br>
									<br>
									そんな願いを叶えるための、<br>
									海外の美味しい情報レビューサイトです。<br>

									現地で見つけた美味しい情報を共有しましょう！ <br>
									<br>

									皆様の旅がより充実したものになりますように。<br>


									記事を投稿するには会員登録が必要となります。<br>
								</div>
						</div>
				</div>
			</div>

							<div class="col">
								<!-- <table>
									<tr>
										<th>ログインして始める  </th>
										<td><%= link_to 'sign in', new_user_session_path %></td>
									</tr>
									<tr>
										<th>登録して始める</th>
										<td><%= link_to 'sign up', new_user_registration_path %></td>
									</tr>
								</table> -->
							</div>
		</div>
	</div>
</div>
