<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-visual fadein">
					<div class="main-visual-content mt-4 fadein">
						<strong><h2 style="color:#fff;">Find delicacies and Create memories !</h2></strong>
					</div>
				</div>

				 <div class="row">
				 	<div class="col-xs-12 fadein">
						<div class="nav flex-column nav-pills fadein" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="display: block; clear: both;">
							<a class="btn-circle-flat fadein"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">About</a>

							<a class="btn-circle-flat fadein" id="v-pills-wwcd-tab" data-toggle="pill" href="#v-pills-wwcd" role="tab" aria-controls="v-pills-wwcd" aria-selected="false" style="color: #fff;" >What</a>

							<a class="btn-circle-flat fadein " id="v-pills-how-tab" data-toggle="pill" href="#v-pills-how" role="tab" aria-controls="v-pills-how" aria-selected="false" style="color: #fff;" >How</a>

							<a class="btn-circle-flat fadein" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="false" style="color: #fff;" >start</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
								<div class="about" id="about" >

									<h4>About " Tabimeshi "</h4><br>

									<h4>思い出が深まるような旅中での特別な食事をお楽しみいただくために</h4><br>

									<h5 style="float:left;">
										ガイドブックに載っている場所だけではなく、特別な食体験をしたい！<br>
										そんな願いを叶えるための、海外の美味しい情報レビューサイトです。<br>
										現地で見つけた美味しい情報を共有しましょう！ <br>
										<br>

									</h5>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-wwcd" role="tabpanel" aria-labelledby="v-pills-wwcd-tab">
								<h3>What you can do with " Tabimeshi " </h3><br>
								<h5>
									tabimeshi では、 旅先で見つけた皆様の美味しい情報を沢山のユーザーとシェアができます。<br>
									投稿した記事を目的地別に検索をすることが可能です。
								</h5><br>
								<h6>なお、記事を投稿するには会員登録が必要となります。</h6>
							</div>

							<div class="tab-pane fade how" id="v-pills-how" role="tabpanel" aria-labelledby="v-pills-how-tab">
								<strong class="how_title"><h3>How to use " Tabimeshi " </h3></strong>
								<table class="how_body">
									<tr>
										<th class="how-content">
										<a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;">distination</a>
										</th>

										<td>目的地から検索いただけます。</td>
									</tr>
									<tr>
										<th class="how-content">
											<a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;">post</a>
										</th>
										<td>新規投稿ができます。</td>
									</tr>
									<tr>
										<th class="how-content">
										<a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;">find ppl</a>
										</th>
										<td>気になるユーザーを探し、フォローいただけます。</td>
									</tr>
								</table>
							</div>

							<div class="tab-pane fade " id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab" style="margin:0 auto;">
								<div class="start">
									<strong><h3>Let's Find delicacies and Create memories!</h3></strong><br>
									<h5>
										Tabimeshiで世界の美味しい情報をチェックしましょう！<br>
									</h5>
									<div style="margin-right: 50px; text-align: right;">
										<ul>
											<li>
												<button type="button" class="btn btn-light" >
													<%= link_to '会員登録して始める', new_user_registration_path, :style=>"color:#444;" %>
												</button>
											</li>
											<li>
					                           	<button type="button" class="btn btn-light">
					                           		<%= link_to 'ログインする', new_user_session_path, :style=>"color:#444;" %>
					                           	</button>
					                        </li>
					                        <li>
				                           		<button type="button" class="btn btn-light">
				                           			<%= button_to 'ゲストユーザーとしてログイン', users_homes_guest_sign_in_path,method: :post, :style=>"color:#444;",class: "btn btn-light button_to" %>
				                           		</button>
				                           	</li>
	                           			</ul>
			                        </div>
			                    </div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
