<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="title_new_posts fadein">Europe</h2>
				<%= render 'users/reviews/reviews_list', reviews:@europe %>
			</div>
		</div>
	</div>
</div>