<div class="page">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="unsubscribe"><strong><%= t 'users.unsubscribe.are_you_sure' %></strong></h3>
					<p><%= t 'users.unsubscribe.if_you_delete' %><br>
					<%= t 'users.unsubscribe.plz_click' %></p>

					<% if user_signed_in? && @user.id == current_user.id %>
				        <%= link_to t('users.unsubscribe.delete_button'), users_withdraw_path(current_user.id), method: :patch, "data-confirm" => t('users.unsubscribe.confirm'), class: "btn btn-outline-danger" %>
					<% end %>

			</div>
		</div>
	</div>
</div>