<div class="container">
	<div class="row">
		<div class="col-xs-12 admin-top-page admin-link-list">
			<ul>
				<li class="link"><h4><%= link_to 'ユーザー一覧', admins_users_path %></h4></li>
				<li class="link"><h4><%= link_to 'ジャンル登録・一覧', admins_genres_path %></h4></li>
				<li class="link"><h4><%= link_to '投稿一覧', admins_reviews_path %></h4></li>
			</ul>
		</div>
	</div>
</div>

