<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="review-main-visual"></div>
		</div>

		<div class="link-list col-md-7">
			<a class="btn-circle-flat"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">目的地から探す</a>
			<%= link_to 'post', new_review_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
			<%= link_to 'find ppl', users_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
			<a class="btn-circle-flat"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">sth</a>
		</div>
	</div>
</div>

<div class="container">
	<h2>new article</h2>

