<div class="page">
	<div class="container">
		<div class="row main-box">
			<div class="col-md-5">
				<div class="review-main-visual"></div>
			</div>

			<div class="link-list col-md-7">
				<a class="btn-circle-flat"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">distination</a>
				<%= link_to 'post', new_review_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
				<%= link_to 'find ppl', users_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
				<a class="btn-circle-flat"  id="to-lists" data-toggle="pill" href="#to-lists" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">new posts</a>
			</div>
		</div>
	</div>

	<div class="container">
		<h2 class="title_new_posts">new posts</h2>
		<%= render 'users/reviews/reviews_list', reviews:@reviews %>
		<div><%= paginate @reviews , class: "pagination" %></div>
	</div>

	<script>
      $(function(){
        // #to-listsで発火 sth
        $('a[href^="#to-lists"]').click(function() {
          // スクロールの速度
          var speed = 400; // ミリ秒
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>

</div>
