// Place all the styles related to the users::relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-follow{
	background-color:#9ACD32;
	color:#fff;
	width:150px;
}
.btn-follow:hover{
	background-color:#3CB371;
}

.btn-unfollow{
	width:150px;
}