// Place all the styles related to the users::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page{
  height: 1600px;
  background-image: url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
}


.review-main-visual{
	width: 400px;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	background-image: url(../review_image.jpg);
	border-top-left-radius: 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 40px;

}


.link-list{
	font-size: 15px;
	margin-top: 20px;
	padding:30px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: rgba(0, 68, 0,0.9);
  color: #FFF;
  width: 170px;
  height: 170px;
  line-height: 170px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin:50px;
}

.review_images{
	height:200px;
	width:300px;
  margin:10px;
	object-fit: cover;
  border: 5px solid #888;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.profile_img{
  border: 5px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.review-box{
  padding-top:15px;
  padding-left:40px;
  margin-bottom:20px;
  width:1000px;
  height:220px;
  background-color: rgba(245, 245, 245,0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.review-box i{
  margin-right:10px;
}

.review-info{
  height:600px;
  width:auto;
  padding:30px;
  background-color:#eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.review{
  margin:15px 30px;
}
.shop-info{
  margin-top:50px;
  margin-left: 30px;
  font-size: 15px;
}

#map{
  height: 200px;
  width: 400px;
}

.img-field{
  font-size:15px;
  margin-bottom:20px;
}

.prev-list{
  width:1000px;
  margin:o auto;
}

#img_prev_0{
  height: 150px;
  width: 150px;
  padding:10px;
}
#img_prev_1{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_2{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_3{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_4{
  height: 150px;
  width: 150px;
  padding:10px;
}

#map {
  height: 200px;
  width: 70%;
}
