// Place all the styles related to the users::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*review/show*/

.time-limit{
  width: 100%;
  height: 30px;
  font-size: 15px;
  text-align: center;
  padding: 0;
  z-index: 1;
}
.page_show{
  height: auto;
  background-image: image-url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
}

.restaurant_name_show{
  margin-top: 7px;
}

.review-info{
  height:auto;
  width:1200px;
  padding:100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  position: relative;
  background-color: rgba(245, 245, 245,0.6);
}

.details{
  margin:15px;
}

.review{
  font-size:19px;
  padding:60px;
  margin-bottom:40px;
  height:auto;
  width:auto;
  padding:100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}


.count_like_comment{
  bottom: 10px;
  right:300px;
  font-size:19px;
  color:#444;
}

.address{
  margin-top:50px;
}


.title{
  padding-top: 100px;
  padding-bottom: 30px;
}

.comment_place{
  padding-bottom: 30px;
}

/* index 投稿一覧 */

.page{
  padding-top: 100px;
  background-image: image-url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
}


.image1 {
  background-image: image-url("../image1.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}
.image2 {
  background-image: image-url("../image2.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}
.image4 {
  background-image: image-url("../image4.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}
.image3 {
  background-image: image-url("../image3.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

#container{
  height: 600px;
}


.title_new_posts{
  margin-bottom:25px;
}

.main-box{
  margin-top:60px;
}

.review-main-visual{
	width: 400px;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	background-image: image-url(../review_image.jpg);
	border-top-left-radius: 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 40px;
}



.popular_area_asia{
  width: 220px;
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-image: image-url(../asia.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}


.popular_area_america{
  width: 220px;
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-image: image-url(../america.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}

.popular_area_europe{
  width: 220px;
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-image: image-url(../europe.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}

.popular_area_oseania{
  width: 220px;
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: top;
  background-image: image-url(../australia.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}

.popular_area_content{
  width: 400px;
  height: 200px;
  line-height: 200px;
  padding:50px;
}

.link-list{
	font-size: 15px;
	margin-top: 20px;
	padding:30px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: rgba(0,51,0,1);
  color: #FFF;
  width: 170px;
  height: 170px;
  line-height: 170px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  margin:50px;
}


.review_list_index{
  padding: 150px;
}
.review_index{
  margin-top:5px;
  color:#808080;
}

.review_images_small{
  height:60px;
  width:100px;
  margin:5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.images{
  width:300px;
}

.review_images{
	height:150px;
	width:200px;
  margin:10px;
	object-fit: cover;
  border: 5px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.review_images_prev{
  height:150px;
  width:200px;
  margin:10px;
  object-fit: cover;
  border: 5px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.profile_img{
  border: 3px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.review-box{
  padding:15px 20px 0 20px;
  margin-bottom:20px;
  width:1200px;
  height:300px;
  background-color: rgba(245, 245, 245,0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  border: 1px solid #fff;
}

.review-box i{
  margin-right:10px;
}

.fa-heart{
  color:#a00;
  text-align:right;
}

.pagenate{
  margin-left:800px;
  }

.icon_to_edit{
  position: absolute;
  bottom: 10px;
  }


.btn-delete{
  position: absolute;
  bottom: 10px;
  right:100px;
  text-decoration: none;
  font-size:13px;
  background-color: rgba(0, 68, 0,0.9);
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin:50px;
}

.btn-delete:hover {
  background: #bbb;
  color: #FFF;
}



#map{
  height: 200px;
  width: 400px;
}

.img-field{
  font-size:15px;
  margin-bottom:20px;
}

.prev-list{
  width:1000px;
  margin:o auto;
}

#img_prev_0{
  height: 150px;
  width: 150px;
  padding:10px;
}
#img_prev_1{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_2{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_3{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_4{
  height: 150px;
  width: 150px;
  padding:10px;
}

#map {
  height: 200px;
  width: 70%;
}

.comment-content{
  width:600px;
  padding:20px;
}

.comment-area{
  height:auto;
  width:1000px;
  margin:50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(100, 100, 100,0.1);
}


.mini-title{
  margin-top:50px;
  color:#444;
}

.comment_place{
  padding-bottom:120px;
  margin:0 auto;
}

.effect-fade {
　opacity : 0;
　transform : translate(0, 45px);
　transition : all 300ms;
}

.effect-fade.effect-scroll {
　opacity : 1;
　transform : translate(0, 0);
}

.fadein {
  opacity : 0.1;
  transform : translate(0, 50px);
  transition : all 500ms;
  }

.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
  }






/*new*/

.page_new{
  background-image: image-url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
  padding-bottom: 100px;
}

::placeholder{
  color:#DCDCDC;
}


.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
  }

  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

.label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  .post_btn{
  width:150px;
  }





/* edit */

.page_edit{
  height: auto;
  background-image: image-url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
  padding-bottom:100px;
}

.edit_title{
  padding-top:100px;
}




@media screen and (max-width:425px) {
.nav {
  width: 100%;
  }
  header {
    width: 100%;
  }

/*index*/
  .page{
  background-image: image-url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
  }

  .responsive{
  margin:0 auto;
  }

  .main-box{
  width:100%;
  margin:0 auto;
  padding-left: 35px;
  }

  body{
    width:100%;
  }

  #container{
    height: 300px;
    width:100%;
  }

  .link-list{
    margin:0 0 0 25px;

  }

  .btn-circle-flat {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 170px;
    height: 170px;
    line-height: 170px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin:50px;
    display:none;
  }

  .btn-circle-flat:hover {
    background: #fc0;
  }

  .title_new_posts{
    width:100%;
    padding-left:15px;
  }

  .review_list_index{
    width:100%;
    padding:0 0 0 10px;
  }

  .review-box{
    width:100%;
  }

  .popullar{
    text-align:center;
  }

  .popular_area_asia{
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    background-image: image-url(../asia.jpeg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 3px solid #fff;
    margin:10px;
    padding:30px;
    float:left;
  }


  .popular_area_america{
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    background-image: image-url(../america.jpeg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 3px solid #fff;
    margin:10px;
    padding:30px;
    float:left;
  }

.popular_area_europe{
  width: 150px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  background-image: image-url(../europe.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}

.popular_area_oseania{
  width: 150px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: top;
  background-image: image-url(../australia.jpeg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 3px solid #fff;
  margin:10px;
  padding:30px;
  float:left;
}

.review-box{
  width:100%;
  height:auto;
}

.title_new_posts{
  width:100%;
  margin-top:20px;
  margin-left:20px;
}

.popular_area-content h3{
  font-size:20px;
  text-align:center;
}

.main{
  width:100%;
  }

/*new*/

  .navbar{
    width:425px;;
  }

  #head-logo{
  width:300px;
  }


  .container{
  width:100%;
  }

  .title{
  size:30px;
  }

  .page_new{
    background-image: image-url("../background_image.jpg");
    background-size: cover;
    object-fit: cover;
    width:100%;
  }

  table{
  width:425px;
  display:block;
  }

  .table_new_all{
  width:100%;
  display:block;
  }

  .table_new{
  display:block;
  width:425px;
  }

  .table_new_country_city{
  width:50%;
  }

  .budget_box{
  width:100px;
  display:block;
  }
  .country_box{
  width:100px;
  }

  .review_area{
  width:220px;
  }

  .prev-content{
  width:400px;
  display:inline-block;
  }

  #label-box--0{
  width:300px;
  }

  .post__drop__box__container .prev-content .label-box{
   width:100%;
  }

  /*show*/
  .page_show{
  width:100%
  }

  .review-info{
  width:95%;
  }

  .review_images{
  height:60px;
  width:100px;
  margin:5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 2px solid #eee;
  }

  .table_edit{
  width:425px;
  }

  .table_title{
  width:50%;
  }

  .table_content{
  width:50%;
  }

  .review-info{
  width:100%;
  padding:100px 0 100px 0;
  }

  .review{
  padding:0;
  }
  #comment_body{
  width:90%;
  }


}