// Place all the styles related to the users::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page{
  height: 1700px;
  background-image: url("../background_image.jpg");
  background-size: cover;
  object-fit: cover;
}

.body{
  padding-top: 100px;
}

.title{
  padding-top: 100px;
  padding-bottom: 30px;
}
.main-box{
  margin-top:60px;
}

.review-main-visual{
	width: 400px;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	background-image: url(../review_image.jpg);
	border-top-left-radius: 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 40px;
}


.link-list{
	font-size: 15px;
	margin-top: 20px;
	padding:30px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: rgba(0, 68, 0,0.9);
  color: #FFF;
  width: 170px;
  height: 170px;
  line-height: 170px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  margin:50px;
}

.review_images{
	height:200px;
	width:300px;
  margin:10px;
	object-fit: cover;
  border: 5px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.review_images_prev{
  height:150px;
  width:200px;
  margin:10px;
  object-fit: cover;
  border: 5px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.profile_img{
  border: 3px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.review-box{
  padding-top:15px;
  padding-left:40px;
  margin-bottom:20px;
  width:1000px;
  height:220px;
  background-color: rgba(245, 245, 245,0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.review-box i{
  margin-right:10px;
}

.fa-heart{
  color:#a00;
  text-align:right;
}


.review-info{
  height:auto;
  width:auto;
  padding:30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  position: relative;
  background-color: rgba(245, 245, 245,0.6);
}

.pagenate{
  margin-left:800px;
  }

.icon_to_edit{
  position: absolute;
  bottom: 10px;
  }


.btn-delete{
  position: absolute;
  bottom: 10px;
  right:100px;
  text-decoration: none;
  font-size:13px;
  background-color: rgba(0, 68, 0,0.9);
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin:50px;
}

.btn-delete:hover {
  background: #bbb;
  color: #FFF;
}

.review{
  margin:15px 30px;
}
.shop-info{
  margin-top:60px;
  margin-left: 30px;
  font-size: 15px;
}

#map{
  height: 200px;
  width: 400px;
}

.img-field{
  font-size:15px;
  margin-bottom:20px;
}

.prev-list{
  width:1000px;
  margin:o auto;
}

#img_prev_0{
  height: 150px;
  width: 150px;
  padding:10px;
}
#img_prev_1{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_2{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_3{
  height: 150px;
  width: 150px;
  padding:10px;
}

#img_prev_4{
  height: 150px;
  width: 150px;
  padding:10px;
}

#map {
  height: 200px;
  width: 70%;
}

.comment-content{
  width:600px;
  padding:20px;
}

.comment-area{
  height:auto;
  width:1000px;
  margin:50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(100, 100, 100,0.1);
}

.comment-field{
  margin: 0 auto;
}

.mini-title{
  margin-top:50px;
}



.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
  }

  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

.label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }



