// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {

  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.info-box{
	height:200px;
	width:1000px;
	background-color:#eee;
	margin: 20px auto;
}

.info-table{
	margin-bottom:20px;
}

.btn-circle-flat_user_show{
	display: inline-block;
	text-decoration: none;
	background: #444;
	color: #FFF;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	transition: .4s;
}

.btn-circle-flat_user_show:hover {
  background: #fc0;
}
